@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap');

$header-color: #F5D1C3;
$fade: #f5d1c380;
$h-color: #345553;
$font-title: 'Josefin Sans', sans-serif;
$font-text: 'Playfair Display', serif;

.top-background
{
    background-color: $header-color;
}

.fade-bg
{
    opacity: 0.10;
    background-color: $fade;
    padding: 10pt;
}

.about-title
{
    color: $h-color;
    font-family: $font-title;
}

#mini-quota
{
    color: $h-color;
}
