$header-color: #F5D1C3;
$fade: #f5d1c3ab;
$h-color: #345553;

.top-background
{
    background-color: $header-color;
}

.fade-bg
{
    opacity: 0.10;
    background-color: $fade;
    padding: 10pt;
}

h1
{
    color: $h-color;
}
