@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap');

$header-color: #F5D1C3;
$fade: #ffdbdb;
$h-color: #345553;
$font-title: 'Josefin Sans', sans-serif;
$font-text: 'Playfair Display', serif;

*
{
    margin: 0;
    padding: 0;
}

.top-background
{
    background-color: $header-color;
}

.Title-AbUs
{
    color: $h-color;
}

.fade-bg
{
    
    background-color: $header-color;
    padding: 10px;
}

.looks
{
    img
    {
        clip-path: circle(40%);
        border-radius: 50px;
        margin: 0;
        padding: 0;
    }
    
}

img
{
    border-radius: 100px;
}

#mini-quota
{
    color: $h-color;
}

.team
{
    h4
    {
        margin-bottom: 0;
    }
}

.team-mate
{
    margin-bottom: 6vh;
}

.pics
{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 6vh;
    margin-left: 0;
    margin-right: 0;
}

.big_img img
{
    object-position: 10% 5%;
}

.looks
{
    text-align: center;
    img
    {
        width: 140px;
        height: 140px;
        object-fit: cover;
        transition: 0.5s;
        border-radius: 10px;
    }
}

.looks img:hover
{
    transform: scale(1.3);
    z-index: 2;
}

.team-proto
{
    display: flex;
    .team
    {
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

// .us
// {
//     margin-top: 4vh;
//     margin-bottom: 5vh;
//     font-weight: 500;
    
// }

#about-title
{
    color: $h-color;
    font-weight: 600;
    margin-top: 2.5vh;
    margin-bottom: 2vh;
    font-family: $font-text;
}
