@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Playfair+Display&display=swap');

.category-img {
    position: relative;
    display: flex;
    justify-content: end;

    img {
        height: 70vh;
        width: 90%;
        object-fit: cover;
        border-radius: 16px 0px 0px 16px;
    }
}

.category-nav {
    position: absolute;
    top: 50;
    left: 0;
    z-index: 2;
    padding: 3.25rem 5rem 2rem;

    background: linear-gradient(144.69deg, rgba(255, 255, 255, 0.6) 0%, rgba(249, 239, 220, 0.2) 100%);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    border-radius: 0px 22px 22px 0px;

    h1 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    a {
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: .3rem;
    }

}

.categories a {
    font-family: 'Josefin Sans', sans-serif;
}