@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Playfair+Display&display=swap');

// @mixin to handle media queries
@mixin breakpoint($minwidth, $maxwidth) {
    @media screen and (min-width:$minwidth) and (max-width:$maxwidth) {
        @content; // pass content
    }
}

// default styling for large screens ( > 1200px)

.category-img {
    position: relative;
    display: flex;
    justify-content: end;

    img {
        height: 70vh;
        border-radius: 16px 0px 0px 16px;
    }
}

.category-nav {
    position: absolute;
    top: 50;
    left: 0;
    z-index: 2;
    padding: 4rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.17);
    border-radius: 0px 16px 16px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);

    a {
        font-family: 'Josefin Sans', sans-serif;
    }

}

.categories a {
    font-family: 'Josefin Sans', sans-serif;
}

// Pass on min-width and max-width arguments to @mixin breakpoint
@include breakpoint(0px, 576px){ // small screens 
    .categories {
        margin: 0 1rem;

        .container {
            padding: 0 2rem;
        }

        .products {
            flex: auto;

            .product-img {
                height: 30vh;
            }
        }
    }

}

@include breakpoint(0px, 768px){ // medium to small screens

    .categories {
        .type{
            width: 100%;

            h3 {
                font-size: 2rem;
            }
        }
    }

}