// add variable overrides here
$theme-colors: (
    "primary": #F0BC68,
    "secondary": #8F8F8F,
    "success": #33CA7F,
    "danger": #EF6461,
    "warning": #FF8247,
    "info": #62B6CB,
    "light": #F7F3F0,
    "dark": #353535
);

// include all of bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

$color-palette:(
    "light-pink": #F5D1C3,
    "mustard-yellow": #F0BC68,
    "light": #F7F3F0,
    "beige": #F7E6CA,
    "dark-green": #365A51,
    "dark": #353535
);

main{
    background-color: map-get($color-palette, "light");
}

.display-item-dimension{
    width: auto;
    height: 25vh;
    object-fit: fill;
    
}