#top {
    position: relative;
    img {
        width: 100%;
        height: 460px;
        object-fit: cover;
        position: relative;
    }
}
 
.box-info {
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 2.5rem 3rem !important;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);

    p {
        font-size: 16px;
    }

    h4 {
        font-size: 35px;
        margin-bottom: 12px;
    }

    p:not(:first-child) { 
        margin-bottom: 20px;
    }

    button {
        padding: 12px 28px;
        background: #F0BC68;
        border-radius: 10px;
        border: none;
        color: white;
    }
}

.container {
    .blog-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        width: 100%;

        .card {
            height: 765px;

            img {
                height: 380px;
                object-fit: cover;
            }

            div {
                padding: 35px 40px 18px;
            }

            a {
                width: fit-content;
                margin: 0 0 0 45px;
            }

            &:hover {
                box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.blog-cover {
    width: 90%;
    height: 30rem;
    object-fit: cover;
}

.blog-body {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-gap: 5rem;

    .container {
        margin-left: 3rem;
        top: 2rem;
        display: block;
        position: sticky;
        align-self: start;
    }

    .headings {
        top: 2rem;
        display: block;
        position: sticky;
        align-self: start;
    }

    #share-btn {
        border: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
            filter: brightness(150%);
        }
    }

    #heading {
        &:hover {
            color: #F0BC68;
            border-left: #F0BC68 2px solid;
        }
    }
}

.text-blocks-pledge {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}